[ProductList]
sorting = "price|asc"

[Pagination]
count_per_page = 12
pagination_limit = 5
active_class = "_act"
first_button_name = "First"
first_button_limit = 1
first-more_button_name = "..."
first-more_button_limit = 1
prev_button_name = "Prev"
prev_button_limit = 1
prev-more_button_name = "..."
prev-more_button_limit = 1
next-more_button_name = "..."
next-more_button_limit = 1
next_button_name = "Next"
next_button_limit = 1
last-more_button_name = "..."
last-more_button_limit = 1
last_button_name = "Last"
last_button_limit = 1
==
{##}
{% set obProductList = ProductList.make().sort(ProductList.getSorting()).active().category(obActiveCategory.id, true) %}
{% set arProductList = obProductList.page(iPage, Pagination.getCountPerPage()) %}
{% if arProductList is not empty %}
    {# Render product list #}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="title">
                    <h2>Похожие товары</h2>
                </div>					
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="carousel-similar-product" class="carousel slide products">
                    
                    <div class="carousel-inner">

						{% for key, obProduct in arProductList %}
							{% if loop.first %}
								<div class="carousel-item active" >
									<div class="product-wrapper">
							{% endif %}
							{% if loop.index == 5 %}
								<div class="carousel-item " >
									<div class="product-wrapper">
							{% endif %}
							{% if loop.index == 9 %}
								<div class="carousel-item" >
									<div class="product-wrapper">
							{% endif %}

								 {% partial 'product/product-card/product-card' obProduct=obProduct %}

							
							{% if loop.index == 4 %}
									</div>
								</div>
							{% endif %}
							{% if loop.index == 8 %}
									</div>
								</div>
							{% endif %}
							{% if loop.index == 12 %}
									</div>
								</div>
							{% endif %}
							
							
						{% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carousel-similar-product" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-similar-product" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                  </div>
            </div>
        </div>
    </div>

</div>
{% endif %}