==
{##}
<div class="top-bar">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="top-bar-wrapper">
					<div class="locale-wrapper">
						<div class="locale-label">Ваш город:</div>
						<a href="#" class="btn text">
								Улан-Удэ
						</a>
						<a href="#" class="btn text pl-3">Изменить город</a>
					</div>
					<a href="tel:+79247702321" class="bar-phone">+7(924) 770-2321</a>
					<div class="help-wrapper">
						<a href="#" class="btn text">Помощь</a>
					</div>
				</div>					
			</div>
		</div>
	</div>		
</div>