{##}

{% if obOfferList.isNotEmpty() %}
    <div class="form-group product-property" >  
        <label class="property-values__label" for="offersProduct">Выберите вариант</label>
        <select
            class="form-control property-values__select offers"                                            
            name="offer_id"
            id="offersProduct">
            {% for obOffer in obOfferListCopy %}
                {{ obOffer.price | var_dump}}                                        
                <option value="{{ obOffer.id }}" >{{ obOffer.name }}</option>
            {% endfor %}
        </select>
    </div>
    
{% endif %}