[ProductList]
==
{##}
{# Get product collection #}
{% set obProductList = ProductList.make().sort(ProductList.getSorting()).active().category(obActiveCategory.id, true) %}

{# Get array with pagination buttons #}
{% set iPage = Pagination.getPageFromRequest() %}
{% set iCount = obProductList.count() %}
{% set iMaxPage = obProductList.getMaxPage(iCount) %}

{# Apply pagination to product collection and get array with product items #}
{% set arProductList = obProductList.page(iPage, Pagination.getCountPerPage()) %}

{% if arProductList is not empty %}
    {# Render product list #}
    
        {% for obProduct in arProductList %}
            {% partial 'product/product-card/product-card' obProduct=obProduct %}
        {% endfor %}        
    
    {% partial 'pagination/pagination' iCount=iCount iPage=iPage iMaxPage=iMaxPage %}
{% else %}
    <div>
        Товаров не найдено
    </div>
{% endif %}

