title = "Каталог товаров"
url = "/:category*/:slug?"
layout = "default"
description = "Каталог магазина"
is_hidden = 0

[CategoryPage MainCategoryPage]
slug = "{{ :category }}"
slug_required = 1
smart_url_check = 1
has_wildcard = 1
skip_error = 0

[CategoryPage]
slug = "{{ :slug }}"
slug_required = 0
smart_url_check = 1
has_wildcard = 0
skip_error = 1

[ProductPage]
slug = "{{ :slug }}"
slug_required = 0
smart_url_check = 1
skip_error = 1

[BrandPage]
slug = "{{ :slug }}"
slug_required = 0
smart_url_check = 0
skip_error = 1

[ProductList]
sorting = "new"

[Pagination]
count_per_page = 12
pagination_limit = 5
active_class = "active"
button_list = "main"
first_button_name = "First"
first_button_limit = 3
first_button_number = 4
first-more_button_name = "..."
first-more_button_limit = 4
prev_button_name = "Prev"
prev_button_limit = 1
prev-more_button_name = "..."
prev-more_button_limit = 1
next-more_button_name = "..."
next-more_button_limit = 1
next_button_name = "Next"
next_button_limit = 1
last-more_button_name = "..."
last-more_button_limit = 4
last_button_name = "Last"
last_button_limit = 3
last_button_number = 1

[Catalog]

[FilterPanel]
==
<?php
function onInit() {
    // делаем проверку, если мы не нашли категорию и не нашли товар в параметре последнего слага :category*/:slug?
    // то нужно отобразить 404 ошибку
    /**
     * @var \Bulatr\BaseCode\Components
    */
    $obProductItem = $this->ProductPage->get();
    $obBrandItem = $this->BrandPage->get();
    $obCategoryItem = $this->CategoryPage->get();    
    $obMainCategoryItem = $this->MainCategoryPage->get();
        
    if (!empty($this->param('slug')) && empty($obProductItem) && empty($obBrandItem) && empty($obCategoryItem)) {
        return $this->ProductPage->getErrorResponse(); // используем компонент ProductPage и его метод getErrorResponse - он вернет 404 ошибку
    }

    $this->Catalog->setRequestData($obProductItem, $obMainCategoryItem, $obCategoryItem, $obBrandItem);

    if (empty($obProductItem)) 
    {
        $sActiveSort = $this->ProductList->getSorting();
        $iPage = $this->Pagination->getPageFromRequest(); // Номер текущей страницы        
        $this->Catalog->initCatalogData($sActiveSort, $iPage);
        $obProductList = $this->Catalog->getProductList();
        $obFilteredProductList = $this->Catalog->getFilteredProductList();
        $obBrandList = $this->Catalog->getBrandList();
        $iMaxPage = $this->Pagination->getMaxPage($obProductList->count());
        $obActiveCategory = $this->Catalog->getActiveCategory();
        $arProductList = $this->Catalog->getProductListWithPagination($this->Pagination->getCountPerPage());
        $obFilterProductPropertyList = $this->Catalog->getFilterProductPropertyList()->setCategory(null)->setProductList($obProductList);
        //$this->FilterPanel->getOfferPropertyList(['cloches','shoes'], $obProductList);
        // Передача в шаблон
        $this['iPage'] = $iPage;
        $this['iCount'] = $obFilteredProductList->count();
        $this['obProduct'] = $obProductItem;
        $this['obProductList'] = $obProductList;
        $this['obBrandList'] = $obBrandList;
        $this['obBrand'] = $obBrandItem;        
        $this['obFilterProductPropertyList'] = $obFilterProductPropertyList;
        $this['sActiveSort'] = $sActiveSort;
        $this['iMaxPage'] = $iMaxPage;
        $this['obFilteredProductList'] = $obFilteredProductList;
        $this['arProductList'] = $arProductList;
    }

    $this['obActiveCategory'] = $obActiveCategory; // Текущая активна категория которую отправляем в партиал product-list
}
?>
==
{##}

{# @var obCategory \Lovata\Shopaholic\Classes\Item\CategoryItem #}
{# Get category item #}
{% partial "filters/filter-modal" obPropertyList = obFilterProductPropertyList %}

<!-- Category-->
<div class="category" data-id="{{ obCategory.id }}" itemscope itemtype="http://schema.org/Category">
    <div class="container">
        <div class="row">
            <div class="col">
                {% partial "breadcrumbs/breadcrumbs" arBreadcrumbs=Catalog.getBreadcrumbs() %}                
                <div class="category__row">
                    <div class="sidebar">
                        <div class="sidebar__title">
                            <h3>{{ obActiveCategory.name }}</h3>
                        </div>
                        <div class="sidebar__content">
                            <div class="sidebar__menu">
                                {% partial "category/category-tree/category-list" obActiveCategory = obActiveCategory  %}
                            </div>
                            <div class="sidebar__filter">
                                
                                <div class="sidebar-filter-item">
                                    <div class="sidebar-filter-item__label">
                                        <a href="#">Посмотреть все</a>
                                    </div>
                                    <div class="sidebar-filter-item__value">
                                        20
                                    </div>										
                                </div>
                                <div class="sidebar-filter-item">
                                    <div class="sidebar-filter-item__label">
                                        <a href="#">Осень</a>
                                    </div>
                                    <div class="sidebar-filter-item__value">
                                        10
                                    </div>										
                                </div>
                                <div class="sidebar-filter-item">
                                    <div class="sidebar-filter-item__label">
                                        <a href="#">Зима</a>
                                    </div>
                                    <div class="sidebar-filter-item__value">
                                        10
                                    </div>										
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-container">
                        <div class="filter-bar">								
                            <div class="filter-bar-col-small">
                                <div class="filter-icon">
                                    <div class="filter-icon__image">
                                        <img src="{{'assets/images/Filter.svg' | theme }}" alt="">
                                    </div>									
                                    <div class="filter-icon__label">
                                        Фильтр
                                    </div>									
                                </div>
                            </div>
                            <div class="filter-bar-col">
                                <!-- Sort -->
                                <div class="filter-sort">
                                    <div class="filter-sort__label">Сортировка</div>
                                    <div class="filter-sort__select">
                                        <select class="sort-select _shopaholic-sorting" name="sort-product" id="sort-product">
                                            <option {% if sActiveSort == 'no' %} selected {% endif %} value="no">По популярности</option>
                                            <option {% if sActiveSort == 'price|asc' %} selected {% endif %} value="price|asc">По возрастанию цены</option>
                                            <option {% if sActiveSort == 'price|desc' %} selected {% endif %} value="price|desc">По убыванию цены</option>
                                            <option {% if sActiveSort == 'new' %} selected {% endif %} value="new">Новые</option>
                                        </select>
                                    </div>										
                                </div>
                                {% partial "product-count" obFilteredProductList = obFilteredProductList%}
                            </div>
                        </div>
                        <div class="wrapper-overlay card-container catalog-wrapper">
                            {% partial 'product/catalog/product-list' arProductList = arProductList  %}
                        </div>
                    </div>
                </div>   
            </div>
        </div>            
    </div>
</div>

{% partial "related-products" %}

{% partial "banners/banner-1" %}

{% partial "lookbook" %}