title = "Каталог товаров"
url = "/catalog/:category*/:slug?"
layout = "default"
description = "Каталог магазина"
is_hidden = 0

[CategoryPage MainCategoryPage]
slug = "{{ :category }}"
slug_required = 1
smart_url_check = 1
has_wildcard = 1
skip_error = 0

[CategoryPage]
slug = "{{ :slug }}"
slug_required = 0
smart_url_check = 1
has_wildcard = 0
skip_error = 1

[ProductPage]
slug = "{{ :slug }}"
slug_required = 0
smart_url_check = 1
skip_error = 1

[BrandPage]
slug = "{{ :slug }}"
slug_required = 0
smart_url_check = 1
skip_error = 1

[ProductList]
sorting = "new"

[Pagination]
count_per_page = 12
pagination_limit = 5
active_class = "active"
button_list = "main"
first_button_name = "First"
first_button_limit = 3
first_button_number = 4
first-more_button_name = "..."
first-more_button_limit = 4
prev_button_name = "Prev"
prev_button_limit = 1
prev-more_button_name = "..."
prev-more_button_limit = 1
next-more_button_name = "..."
next-more_button_limit = 1
next_button_name = "Next"
next_button_limit = 1
last-more_button_name = "..."
last-more_button_limit = 4
last_button_name = "Last"
last_button_limit = 3
last_button_number = 1

[Catalog]

[FilterPanel]
==
<?php
function onInit() {
    use Input;
    // делаем проверку, если мы не нашли категорию и не нашли товар в параметре последнего слага :category*/:slug?
    // то нужно отобразить 404 ошибку
    /**
     * @var \Bulatr\BaseCode\Components
    */
    $obProductItem = $this->ProductPage->get();
    $obBrandItem = $this->BrandPage->get();
    $obCategoryItem = $this->CategoryPage->get();    
    $obMainCategoryItem = $this->MainCategoryPage->get();
    
    if (!empty($this->param('slug')) && empty($obProductItem) && empty($obBrandItem) && empty($obCategoryItem)) {
        return $this->ProductPage->getErrorResponse(); // используем компонент ProductPage и его метод getErrorResponse - он вернет 404 ошибку
    }

    $this->Catalog->setRequestData($obProductItem, $obMainCategoryItem, $obCategoryItem, $obBrandItem);

    if (empty($obProductItem)) 
    {
        $sActiveSort = $this->ProductList->getSorting();
        $iPage = $this->Pagination->getPageFromRequest(); // Номер текущей страницы        
        $this->Catalog->initCatalogData($sActiveSort, $iPage);
        $obProductList = $this->Catalog->getProductList();
        $obFilteredProductList = $this->Catalog->getFilteredProductList();
        $obBrandList = $this->Catalog->getBrandList();
        $iMaxPage = $this->Pagination->getMaxPage($obProductList->count());
        $obActiveCategory = $this->Catalog->getActiveCategory();
        $arProductList = $this->Catalog->getProductListWithPagination($this->Pagination->getCountPerPage());
        $obFilterProductPropertyList = $this->Catalog->getFilterProductPropertyList()->setCategory(null)->setProductList($obProductList);
        //$this->FilterPanel->getOfferPropertyList(['cloches','shoes'], $obProductList);
        // Передача в шаблон
        $this['iPage'] = $iPage;
        $this['iCount'] = $obFilteredProductList->count();
        $this['obProductList'] = $obProductList;
        $this['obBrandList'] = $obBrandList;
        $this['obBrand'] = $obBrandItem;        
        $this['obFilterProductPropertyList'] = $obFilterProductPropertyList;
        $this['sActiveSort'] = $sActiveSort;
        $this['iMaxPage'] = $iMaxPage;
        $this['obFilteredProductList'] = $obFilteredProductList;
        $this['arProductList'] = $arProductList;
        $this['obActiveCategory'] = $obActiveCategory; // Текущая активна категория которую отправляем в партиал product-list
    } else {
        $this['obProduct'] = $obProductItem;
        //filterByProperty($arFilterList, $obPropertyList) метод OfferCollection
        $arFilterList = [];
        $arAppliedPropertyList = Input::get('property');
        $iKey = 1;
        if (!empty($arAppliedPropertyList)) {
            foreach ($arAppliedPropertyList as $property) {
                $arFilterList = array_add($arFilterList, (string)$iKey, [$property]);
                //$arFilterList[] = [strval($iKey) => [$property]];
                $iKey = $iKey+1;
            }
        }
        
        $iKey = 1;
        $obItemProductList = $this->ProductList->make([$obProductItem->id]);
        $obOfferPropertyList = $obMainCategoryItem->offer_filter_property->setCategory(null)->setProductList($obItemProductList);
        $obOfferList = $obProductItem->offer;
        $obOfferListCopy = $obOfferList->copy()->filterByProperty($arFilterList, $obOfferPropertyList);
        $obOfferItem = $obOfferListCopy->sort('price|asc')->first();
        $this['arAppliedPropertyList'] = $arAppliedPropertyList;
        $this['arFilterList'] = $arFilterList;
        $this['obOfferList'] = $obOfferList;
        $this['obOfferListCopy'] = $obOfferListCopy;
        $this['obOfferPropertyList'] = $obOfferPropertyList;
        $this['obOfferItem'] = $obOfferItem;
    }
    $this['obMainCategoryItem'] = $obMainCategoryItem;
    
}
?>
==
{##}

{# @var obCategory \Lovata\Shopaholic\Classes\Item\CategoryItem #}
{# Get category item #}
{% if obProduct.isNotEmpty() %}
    {# Render product page #}
    <div class="single-product _shopaholic-product-wrapper" id="{{obProduct.id}}" data-product-id="{{ obProduct.id }}">
    
        <div class="container">
            <div class="row">
                <div class="col">
                    {% partial "breadcrumbs/breadcrumbs" arBreadcrumbs=Catalog.getBreadcrumbs() %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 col-xxl-7">
                    {% partial "product/gallery/product-gallery" obProduct = obProduct obOfferItem = obOfferItem %}
                </div>
                <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xxl-5">
                    <div class="product-overlay">
                        <div class="product-title">
                            <h2>{{obProduct.name}}</h2>
                        </div>
                        <div class="product-short">
                            
                            {% partial "product/price/price-product" obOfferItem = obOfferItem %}
                            
                            <div class="raiting-overlay">
                                <div class="raiting-wrapper">
                                    <div class="star-wrapper">
                                        <a href="#">
                                            <div class="star">														
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="star">														
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="star">														
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="star">														
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="star none">														
                                            </div>
                                        </a>
                                    </div>
                                    <div class="star-count">
                                        (8)
                                    </div>
                                </div>
                                <div class="add-reviews">
                                    <a href="">Добавить отзыв</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-text">
                            {{obProduct.preview_text | raw}}								
                                
                        </div>
                        <!--Параметры товара-->
                        
                        <div class="product-options">
                            <form id="formProperty-{{obProduct.id}}">
                                {# Фильтр свойств товара #}
                                {% if obOfferPropertyList.isNotEmpty() %}
                                    {% partial "product/filter-panel/product-filter-panel" obPropertyList = obOfferPropertyList arAppliedPropertyList = arAppliedPropertyList %}
                                {% endif %}

                                {# Выводим офферы #}                                
                                {# Render select with offers #}
                                {% partial "product/offer/product-offer-list" obOfferList = obOfferList obOfferListCopy = obOfferListCopy %}
                                <!-- Количество -->
                                <div class="kol-wrapper">
                                    <div class="group-kol">
                                        <div class="form-group">
                                            <div class="count-wrap" id="product-single-count">
                                                <div class="count-up">+</div>
                                                <input 
                                                    type="number" 
                                                    class="form-control amount-product" 
                                                    id="count" 
                                                    name="quantity" 
                                                    step="1"
                                                    min="1"
                                                    max="{{obOfferItem.quantity}}"
                                                    value="1">
                                                <div class="count-down">-</div>
                                            </div>								
                                        </div>										
                                    </div>
                                    <!--Добавить в корзину-->
                                    <button 
                                        type="button" 
                                        id="addtocart" 
                                        class="btn btn-primary _shopaholic-cart-add"
                                        aria-label="Add to cart">
                                            Добавить в корзину
                                    </button>
                                </div>
                                <!-- Остаток -->
                                {% partial "product/offer/offer-quantity" %}                                
                            </form>
                        </div>                        
                    </div>					
                </div>
            </div>
            <div class="row" > 
                <div class="col-sm-12 col-md-8 col-lg-7 col-xl-7 col-xxl-7" >  
                    <div class="reviews">
                        <div class="tab">
                            <ul>
                                <li class="tab-item" id="tab1" data-tab="tab1"><a href="#tab1">Описание</a></li>
                                <li class="tab-item active" id="tab2" data-tab="tab2"><a href="#tab2">Отзывы</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-content-item" id="tab1" data-tabcontent="tab1">
                                <div class="product-text">
                                    {{obProduct.description | raw}}
                                </div>									
                            </div>
                            <div class="tab-content-item show" id="tab2" data-tabcontent="tab2">
                                <div class="title-wrap">
                                    <div class="title">
                                        <div class="count-r">2</div>
                                        <h3>												
                                            Отзыва
                                        </h3>											
                                    </div>
                                    <div class="raiting-wrapper">
                                        <div class="star-wrapper">
                                            <a href="#">
                                                <div class="star">														
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="star">														
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="star">														
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="star">														
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="star none">														
                                                </div>
                                            </a>
                                        </div>
                                        <div class="star-count">
                                            (8)
                                        </div>
                                    </div>										
                                </div>
                                <div class="review-content-wrap">
                                    <div class="review">
                                        <div class="review-title"><span><img src="{{ 'assets/images/Verified.svg' | theme }}" alt="" class="icon-verified"></span> Оксана</div>
                                        <div class="raiting-wrapper">
                                            <div class="star-wrapper">
                                                <a href="#">
                                                    <div class="star">														
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="star">														
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="star">														
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="star">														
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="star none">														
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="star-count data-review">
                                                Декабрь 2020
                                            </div>																								
                                        </div>
                                        <div class="review-content">
                                            <p>Очень понравился этот джемпер вязки «косы». Мой любимый, безумно нежный цвет, поднимающий настроение. Теплый и уютный)) Качество супер и длина та, которую я люблю) Советую его всем приобрести, не пожалеете))))</p>
                                        </div>
                                    </div>
                                    <div class="read-more"><a href="#" data-eventclick="open" class="button text">Читать далее</a></div>
                                    <div class="review-all-collapse">
                                        <div class="review">
                                            <div class="review-title"><span><img src="{{ 'assets/images/Verified.svg' | theme }}" alt="" class="icon-verified"></span> Оксана</div>
                                            <div class="raiting-wrapper">
                                                <div class="star-wrapper">
                                                    <a href="#">
                                                        <div class="star">														
                                                        </div>
                                                    </a>
                                                    <a href="#">
                                                        <div class="star">														
                                                        </div>
                                                    </a>
                                                    <a href="#">
                                                        <div class="star">														
                                                        </div>
                                                    </a>
                                                    <a href="#">
                                                        <div class="star">														
                                                        </div>
                                                    </a>
                                                    <a href="#">
                                                        <div class="star none">														
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="star-count data-review">
                                                    Декабрь 2020
                                                </div>																									
                                            </div>
                                            <div class="review-content">
                                                <p>Очень понравился этот джемпер вязки «косы». Мой любимый, безумно нежный цвет, поднимающий настроение. Теплый и уютный)) Качество супер и длина та, которую я люблю) Советую его всем приобрести, не пожалеете))))</p>
                                            </div>
                                        </div>
                                        <div class="review">
                                            <div class="review-title"><span><img src="{{ 'assets/images/Verified.svg' | theme }}" alt="" class="icon-verified"></span> Оксана</div>
                                            <div class="raiting-wrapper">
                                                <div class="star-wrapper">
                                                    <a href="#">
                                                        <div class="star">														
                                                        </div>
                                                    </a>
                                                    <a href="#">
                                                        <div class="star">														
                                                        </div>
                                                    </a>
                                                    <a href="#">
                                                        <div class="star">														
                                                        </div>
                                                    </a>
                                                    <a href="#">
                                                        <div class="star">														
                                                        </div>
                                                    </a>
                                                    <a href="#">
                                                        <div class="star none">														
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="star-count data-review">
                                                    Декабрь 2020
                                                </div>																									
                                            </div>
                                            <div class="review-content">
                                                <p>Очень понравился этот джемпер вязки «косы». Мой любимый, безумно нежный цвет, поднимающий настроение. Теплый и уютный)) Качество супер и длина та, которую я люблю) Советую его всем приобрести, не пожалеете))))</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal images -->
    <div class="modal" data-modal="1">
        {% partial "product/gallery/product-gallery-modal" obProduct = obProduct obOfferItem = obOfferItem %}
    </div>

    {% partial "similar-products" %}

    {% partial "banners/banner-1" %}

    {% partial "related-products" %}
{% else %}
    {# Render catalog page #}
    {% partial "filters/filter-modal" obPropertyList = obFilterProductPropertyList %}

    <!-- Category-->
    <div class="category" data-id="{{ obCategory.id }}" itemscope itemtype="http://schema.org/Category">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% partial "breadcrumbs/breadcrumbs" arBreadcrumbs=Catalog.getBreadcrumbs() %}                
                    <div class="category__row">
                        <div class="sidebar">
                            <div class="sidebar__title">
                                <h3>{{ obActiveCategory.name }}</h3>
                            </div>
                            <div class="sidebar__content">
                                <div class="sidebar__menu">
                                    {% partial "category/category-tree/category-list" obActiveCategory = obActiveCategory  %}
                                </div>
                                <div class="sidebar__filter">
                                    
                                    <div class="sidebar-filter-item">
                                        <div class="sidebar-filter-item__label">
                                            <a href="#">Посмотреть все</a>
                                        </div>
                                        <div class="sidebar-filter-item__value">
                                            20
                                        </div>										
                                    </div>
                                    <div class="sidebar-filter-item">
                                        <div class="sidebar-filter-item__label">
                                            <a href="#">Осень</a>
                                        </div>
                                        <div class="sidebar-filter-item__value">
                                            10
                                        </div>										
                                    </div>
                                    <div class="sidebar-filter-item">
                                        <div class="sidebar-filter-item__label">
                                            <a href="#">Зима</a>
                                        </div>
                                        <div class="sidebar-filter-item__value">
                                            10
                                        </div>										
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-container">
                            <div class="filter-bar">								
                                <div class="filter-bar-col-small">
                                    <div class="filter-icon">
                                        <div class="filter-icon__image">
                                            <img src="{{'assets/images/Filter.svg' | theme }}" alt="">
                                        </div>									
                                        <div class="filter-icon__label">
                                            Фильтр
                                        </div>									
                                    </div>
                                </div>
                                <div class="filter-bar-col">
                                    <!-- Sort -->
                                    <div class="filter-sort">
                                        <div class="filter-sort__label">Сортировка</div>
                                        <div class="filter-sort__select">
                                            <select class="sort-select _shopaholic-sorting" name="sort-product" id="sort-product">
                                                <option {% if sActiveSort == 'no' %} selected {% endif %} value="no">По популярности</option>
                                                <option {% if sActiveSort == 'price|asc' %} selected {% endif %} value="price|asc">По возрастанию цены</option>
                                                <option {% if sActiveSort == 'price|desc' %} selected {% endif %} value="price|desc">По убыванию цены</option>
                                                <option {% if sActiveSort == 'new' %} selected {% endif %} value="new">Новые</option>
                                            </select>
                                        </div>										
                                    </div>
                                    {% partial "product-count" obFilteredProductList = obFilteredProductList%}
                                </div>
                            </div>
                            <div class="wrapper-overlay card-container catalog-wrapper">
                                {% partial 'product/catalog/product-list' arProductList = arProductList  %}
                            </div>
                        </div>
                    </div>   
                </div>
            </div>            
        </div>
    </div>

    {% partial "related-products" %}

    {% partial "banners/banner-1" %}

    {% partial "lookbook" %}
{% endif %}