[CategoryList]

description = "Mega menu for main menu"
==
<?php
function onStart() {
	$categoryId = $_POST["categoryId"];
	$this["categoryId"] = (int)$categoryId;
}
?>
==
{##}
{# @var obCategory \Lovata\Shopaholic\Classes\Item\CategoryItem #}
{# Get category list#}
{% set obCategoryList = CategoryList.make([categoryId]).tree() %}
{% if obCategoryList.isNotEmpty() %}
	<div id="item1" data-menuid="1" class="megamenu show">
		<div class="container">
			<div class="block-menu">
				<div class="nav-megamenu">
					<div class='nav-megamenu-column' >
						{% for obCategory in obCategoryList if obCategory.product_count > 0 %}
							{% if obCategory.children.isNotEmpty() %}
								{% for obChildCategory in obCategory.children if obChildCategory.product_count > 0 %}
									<div class="nav-item-megamenu">
										<span class="main-link-megamenu" data-id="{{ obChildCategory.id }}">
											<a href="{{ obChildCategory.getPageUrl('catalog') }}">
												{{ obChildCategory.name }}
											</a>
										</span>
										<div class="overlay-menu-links">
											{% for obChildChildCategory in obChildCategory.children if obChildChildCategory.product_count > 0 %}
												<a href="{{ obChildChildCategory.getPageUrl('catalog') }}" class="nav-item-link">{{ obChildChildCategory.name }}</a>
											{% endfor %}
										</div>
									</div>
								{% endfor %}
							{% endif %}
						{% endfor %}
					</div>
					<div class='nav-megamenu-column' >
						<div class="nav-item-megamenu width-banners">
							<span class="main-link-megamenu">Акции</span>
							<div class="banner-wrapper">
								<div class="banner square small">
									<img src="{{ 'assets/images/dest/Banner1.png' | theme }}" alt="">
								</div>
								<div class="banner square small">
									<img src="{{ 'assets/images/dest/Bannerbig.png' | theme }}" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}
