description = "Шапка сайта Minimal"
==
{##}
<!--Header minimal-->

<div class="header">
    <div class="container" style="position: relative;">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="logo-wrapper">
                    <div class="logo">
                        <a href="{{ 'home' | page}}">
                            <img src="{{'assets/images/a-logo.svg' | theme }}" alt="">
                        </a>
                    </div>
                </div>
                
            </div>
        </div>			
    </div>
</div>