{##}

    <div class="product-gallery">
        <div class="product-gallery-wrapper">
            <div class="wishlist">
                <div class="hearth outline show">
                    <img src="{{'assets/images/Hearth_Outline.svg' | theme }}" alt="">
                </div>
                <div class="hearth filled">
                    <img src="{{ 'assets/images/Hearth_Filled.svg' | theme }}" alt="">
                </div>
            </div>     
            {% if obOfferItem.images is not empty %}
                {% for obImage in obOfferItem.images %}
                    <div class="product-main active" id="dataimage-{{obImage.id}}" data-imageid="{{obImage.id}}">
                        <img src="{{ obImage.getPath() }}" alt="{{ obImage.description }}">
                    </div>
                {% endfor %}
            {% else %}
                {% if obProduct.images is not empty %}
                    {% for obImage in obProduct.images %}
                        <div class="product-main active" id="dataimage-{{obImage.id}}" data-imageid="{{obImage.id}}">
                            <img src="{{ obImage.getPath() }}" alt="{{ obImage.description }}">
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
        <ul class="product-gallery-trumb">
            {% if obOfferItem.images is not empty %}
                {% for obImage in obOfferItem.images %}
                    <li class="product-gallery-trumbnail" data-trumbid="dataimage-{{obImage.id}}">
                        <img src="{{ obImage.getPath() }}" alt="{{ obImage.description }}">
                    </li>
                {% endfor %}
            {% else %}
                {% if obProduct.images is not empty %}
                    {% for obImage in obProduct.images %}
                        <li class="product-gallery-trumbnail" data-trumbid="dataimage-{{obImage.id}}">
                            <img src="{{ obImage.getPath() }}" alt="{{ obImage.description }}">
                        </li>
                    {% endfor %}
                {% endif %} 
            {% endif %}
        </ul>
    </div>

